<main class="container-fluid main-content my-4">
   <div class="row main-content-row d-flex justify-content-between">

<%= render "profile" %>

<div class="col posts-col">
  <div class="post-box-form">
     <% if @user.id == current_user.id %>
        <h4>Welcome <%= @user.name %></h4>
        <%= render "posts/postform" %>
     <% else %>
      <h4><%= @user.name %>'s Profile</h4>
      <% end %>
  </div>
  <%= render @posts %>
</div>

<%= render "friends" %>

</div>

</main>