<div class="post-box">
	<div class="d-flex justify-content-between">
		<div class="d-flex user-name-and-image">
		  <span class="post-author-img">
		 	<%= image_tag user_avatar(post.author) , class: "img-fluid small-profile-img", alt: "small profile image" %>
	    </span> 
	    <span class="post-author-name ml-2"><%= link_to post.author.name, user_path(post.author), :class => "font-black" %></span> </div>
	    <% if current_user == post.author %>
	    <div class="post-delete-btn"><%= link_to "x", post, {:class => "font-red", method: :delete} %> </div>
	    <% end %>
	  
 </div>
<p class="post-time-ago my-2"><%= time_ago_in_words(post.created_at) %> ago.</p>
<p class="post-content"><%= post.content %></p>
<div class="d-flex justify-content-between post-like-line">
	<% if current_user.likes.exists?(post_id:@post.id)
	<%= button_to "<%= post.likes.count %> Like",{:controller => 'likes', :action => 'create', :user_id => current_user.id, :post_id => @post.id}, {:method => :post} %>
	<% end %>
	<button class="trans-btn"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>0 Like</button>
	<ul class="d-flex">
		<li class="comments-count">0 Comments</li>
		<li><button class="trans-btn">Reply</button></li>
	</ul>
</div>
</div>